html,
body {
  color: $b-color;
  font-size: $b-font-size;
  font-family: $b-font-family;

  background-color: $b-background-color;
}

body,
.app-container {
  min-width: $g-xs-min;
}

.app-container {
  @include container-fixed;

  background-color: $burgundy;
}
